@inject NavigationManager NavManager
@using System.Globalization
@using Microsoft.JSInterop
@inject IStringLocalizer<ResourceLanguage> localizer

<strong>@localizer["Language"]</strong>
<select class="form-control" @bind="Culture">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>

@code
{
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }
    CultureInfo[] cultures = new[]
            {
            new CultureInfo("en"),
            new CultureInfo("it")
        };
    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JsRuntime!;
                js.InvokeVoid("blazorLanguage.set", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
